  <dl>
    <dt>Id</dt>
    <dd><%= @book.id %></dd>

    <dt>Title</dt>
    <dd><%= @book.title %></dd>

    <dt>Author</dt>
    <dd><%= @book.author %></dd>

    <dt>Price</dt>
    <dd><%= number_to_currency(@book.price_cents / 100.0) %></dd>

    <dt>Quantity</dt>
    <dd><%= @book.quantity %></dd>

    <dt>Description</dt>
    <dd><%= @book.description %></dd>
  </dl>

<p> Number of reviews: <%= @book.reviews.count %> </p>
<ul>
  <% @book.reviews.each do |review| %>
    <li> <%= review.body %> </li>
  <% end %>
</ul>

  <%= link_to("Edit book", edit_book_path(@book), class: "button") %>

  <%= link_to("Add a Review", new_book_review_path(@book), class: "button") %>

  <%= button_to("Delete Book", book_path(@book), method: :delete, class: "button danger") %>