<h1> New review for <%= @book.title %> </h1>

<%= form_for([@book, @review]) do |f| %>
  <ul>
    <li>
      <%= f.label :body %>
      <%= f.text_field :body %>
    </li>
  </ul>

  <%= f.submit(class: "button") %>
<% end %>

